header, .main-header {
	padding: 20px;
    text-align: center;
    background: #f3a9a8;
    color: #fff;
    position: relative;
}

aside, .main-aside {
	position: absolute;
	width: 230px;
	min-height: 100%;
	transition: transform .3s ease-in-out,width .3s ease-in-out;
	background: #2c3b41;
	color: #fff;
}

aside li, .main-aside li {
	position: relative;
	padding: 10px 10px 5px 15px;
}

aside a, .main-aside a {
	text-decoration: none;
	color: #fff;
	padding: 10px 10px 5px 15px;
}

.main-content {
	margin-left: 230px;
	background-color: #ecf0f5;
	min-height: 100%;
}